<!doctype html>
<head>
    <title> Home </title>
    <link rel='stylesheet' href='../static/styles.css'>
</head>

<body>
    <div class="controls">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="pdf">
            <input type="submit" id="submit">
        </form>
        <button id="clip">Clip</button>
        <div class="page-controls">
            <button id='page-up'> Up </button>
            <input type=number id=page-number-input>
            <button id='page-down'> Down </button>
        </div>
    </div>
    <div class="viewer" id="viewer">
        <p id='x-start'></p>
        <p id='y-start'></p>
        <p id='x'></p>
        <p id='y'></p>
        <canvas id="pdf-viewer"></canvas>
        <!--iframe src="/static/Blueprint.pdf" id="pdf-viewer" width=1000 height=1000><iframe-->
        <canvas id="bounding-box"></canvas>
    </div>

    <script type="module" src="../static/script.js"></script>
</body>
