.venv/

.DS_Store

*.pyc
__pycache__/

*.swp

instance/

.pytest_cache/
.coverage
htmlcov/

blueprintparser/clips
blueprintparser/uploads

dist/
build/
*.egg-info/

blueprintparser/uploads

blueprintparser/.DS_Store

