body {
    height: 100vh;
    width: 100vw;
}


.viewer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: purple; 
}

.blueprint-viewer {
    width: 100%;
    background-color: yellow;
    display: flex;
}

#pdf-viewer {
    position: absolute;
}

#bounding-box {
    position: absolute;
    background-color: transparent;
}

.page-controls {
    display: flex;
    flex-direction: column;
    background-color: orange;
}

.options {
    display: flex;
    flex-direction: column;
}

.clip-viewer {
    overflow: scroll;
}

#clipped-images {
    display: flex;
    flex-direction: column;
}

